# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,31.01,70,97,11.99,overcast clouds
1,1,Barrow,US,71.2906,-156.7887,32.50,87,100,9.98,overcast clouds
2,2,Kahului,US,20.8947,-156.4700,82.98,80,24,8.99,few clouds
3,3,Cape Town,ZA,-33.9258,18.4232,59.92,75,0,8.05,clear sky
4,4,Talara,PE,-4.5772,-81.2719,64.76,88,94,13.33,overcast clouds
5,5,Mahebourg,MU,-20.4081,57.7000,69.26,88,20,6.91,few clouds
6,6,Hualmay,PE,-11.0964,-77.6139,64.45,83,46,7.16,scattered clouds
7,7,Busselton,AU,-33.6500,115.3333,53.89,68,87,20.94,light rain
8,8,Comodoro Rivadavia,AR,-45.8667,-67.5000,71.46,35,0,11.50,clear sky
9,9,Klaksvik,FO,62.2266,-6.5890,47.32,83,88,35.90,light rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is your preferred minimum temperature? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is your preferred maximum temperature? "))

What is your preferred minimum temperature? 65
What is your preferred maximum temperature? 95

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Kahului,US,20.8947,-156.4700,82.98,80,24,8.99,few clouds
5,5,Mahebourg,MU,-20.4081,57.7000,69.26,88,20,6.91,few clouds
8,8,Comodoro Rivadavia,AR,-45.8667,-67.5000,71.46,35,0,11.50,clear sky
10,10,Lorengau,PG,-2.0226,147.2712,85.87,64,97,6.20,overcast clouds
13,13,Tezu,IN,27.9167,96.1667,68.76,37,0,0.98,clear sky
15,15,Bathsheba,BB,13.2167,-59.5167,79.97,78,14,17.05,few clouds
20,20,Yenagoa,NG,4.9247,6.2642,74.64,92,44,3.42,scattered clouds
21,21,Geraldton,AU,-28.7667,114.6000,66.61,55,75,24.16,broken clouds
27,27,Xai-Xai,MZ,-25.0519,33.6442,71.29,76,3,6.62,clear sky
28,28,Madaoua,NE,14.0730,5.9600,70.38,19,76,9.46,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.isna().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng
2,Kahului,US,82.98,few clouds,20.8947,-156.4700
5,Mahebourg,MU,69.26,few clouds,-20.4081,57.7000
8,Comodoro Rivadavia,AR,71.46,clear sky,-45.8667,-67.5000
10,Lorengau,PG,85.87,overcast clouds,-2.0226,147.2712
13,Tezu,IN,68.76,clear sky,27.9167,96.1667
15,Bathsheba,BB,79.97,few clouds,13.2167,-59.5167
20,Yenagoa,NG,74.64,scattered clouds,4.9247,6.2642
21,Geraldton,AU,66.61,broken clouds,-28.7667,114.6000
27,Xai-Xai,MZ,71.29,clear sky,-25.0519,33.6442
28,Madaoua,NE,70.38,broken clouds,14.0730,5.9600

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kahului,US,82.98,few clouds,20.8947,-156.4700,
5,Mahebourg,MU,69.26,few clouds,-20.4081,57.7000,
8,Comodoro Rivadavia,AR,71.46,clear sky,-45.8667,-67.5000,
10,Lorengau,PG,85.87,overcast clouds,-2.0226,147.2712,
13,Tezu,IN,68.76,clear sky,27.9167,96.1667,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.tail(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
632,Bilma,NE,66.34,scattered clouds,18.6853,12.9164,Expeditions Ténére voyages
636,Maigo,PH,81.75,overcast clouds,8.1613,123.9583,Claro M. Recto
639,Savelugu,GH,74.17,clear sky,9.6244,-0.8253,Yoo Naa's Palace
642,Kloulklubed,PW,79.30,light rain,7.0419,134.2556,Storyboard Beach Resort
643,Kaeo,NZ,76.32,clear sky,-35.1000,173.7833,Bushido Lodge
644,Dingle,PH,79.57,light rain,10.9995,122.6711,SEGAYA PROPERTY
646,Puerto Carreno,CO,75.78,heavy intensity rain,6.1890,-67.4859,Casa Hotel Victoria
652,Durban,ZA,70.92,overcast clouds,-29.8579,31.0292,Hilton Durban
656,Kununurra,AU,93.18,clear sky,-15.7667,128.7333,Hotel Kununurra
659,Kantang,TH,78.91,overcast clouds,7.4054,99.5156,Reng Ta Chai Boutique HomeStay

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kahului,US,82.98,few clouds,20.8947,-156.4700,Maui Seaside Hotel
5,Mahebourg,MU,69.26,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
8,Comodoro Rivadavia,AR,71.46,clear sky,-45.8667,-67.5000,Austral Hotel
10,Lorengau,PG,85.87,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
13,Tezu,IN,68.76,clear sky,27.9167,96.1667,Circuit House
15,Bathsheba,BB,79.97,few clouds,13.2167,-59.5167,Atlantis Hotel
20,Yenagoa,NG,74.64,scattered clouds,4.9247,6.2642,Aridolf Resort Wellness and Spa
21,Geraldton,AU,66.61,broken clouds,-28.7667,114.6000,Broadwater Mariner Resort
27,Xai-Xai,MZ,71.29,clear sky,-25.0519,33.6442,Complexo da Familia
28,Madaoua,NE,70.38,broken clouds,14.0730,5.9600,

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kahului,US,82.98,few clouds,20.8947,-156.4700,Maui Seaside Hotel
5,Mahebourg,MU,69.26,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
8,Comodoro Rivadavia,AR,71.46,clear sky,-45.8667,-67.5000,Austral Hotel
10,Lorengau,PG,85.87,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
13,Tezu,IN,68.76,clear sky,27.9167,96.1667,Circuit House
15,Bathsheba,BB,79.97,few clouds,13.2167,-59.5167,Atlantis Hotel
20,Yenagoa,NG,74.64,scattered clouds,4.9247,6.2642,Aridolf Resort Wellness and Spa
21,Geraldton,AU,66.61,broken clouds,-28.7667,114.6000,Broadwater Mariner Resort
27,Xai-Xai,MZ,71.29,clear sky,-25.0519,33.6442,Complexo da Familia
28,Madaoua,NE,70.38,broken clouds,14.0730,5.9600,

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [18]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label=False)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Maui Seaside Hotel</dd>\n<dt>City</dt><dd>Kahului</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>few clouds and 69.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Austral Hotel</dd>\n<dt>City</dt><dd>Comodoro Rivadavia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>clear sky and 71.46 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lorengau Harbourside Hotel</dd>\n<dt>City</dt><dd>Lorengau</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 85.87 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Circuit House</dd>\n<dt>City</dt><dd>Tezu</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 68.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Atlantis Hotel</dd>\n<dt>City</dt><dd>Bathsheba</dd>\n<dt>Country</dt><dd>BB</dd>\n<dt>Current Weather</dt><dd>few clouds and 79.97 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aridolf Resort Wellness and Spa</dd>\n<dt>City</dt><dd>Yenagoa</dd>\n<dt>Country</dt><dd>NG</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 74.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Broadwater Mariner Resort</dd>\n<dt>City</dt><dd>Geraldton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 66.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Complexo da Familia</dd>\n<dt>City</dt><dd>Xai-Xai</dd>\n<dt>Country</dt><dd>MZ</dd>\n<dt>Current Weather</dt><dd>clear sky and 71.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Madaoua</dd>\n<dt>Country</dt><dd>NE</dd>\n<dt>Current Weather</dt><dd>broken clouds and 70.38 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
2   20.8947 -156.4700
5  -20.4081   57.7000
8  -45.8667  -67.5000
10  -2.0226  147.2712
13  27.9167   96.1667
15  13.2167  -59.5167
20   4.9247    6.2642
21 -28.7667  114.6000
27 -25.0519   33.6442
28  14.0730    5.9600

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))